<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    "settings" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

  <% content_for :branding do %>
      <div id="branding" class="row full-width branding">
<div id='brand_content' class="column text-center">

<h1>I'm looking for</h1>
<h2> a Technology Solution <!-- "a Technology Solution" fades to the others above --></h2>
<p>You've come to the right place.
<p>We build reliable software for innovative organizations.
<p>Quality. Commitment. Speed. Precision.
Get in touch <!-- link to contact form; email, name, optional company name and optional phone -->
</p>


      </div>
      </div>

  <% end %>

  <%= render 'common/menu' %>


  </body>
</html>
